{"swagger": "2.0", "info": {"contact": {"email": "api-support@jaz.ai", "name": "API Support", "url": "http://jaz.ai"}, "description": "Jaz Accounting API", "title": "Accounting", "version": "1.0"}, "host": "api.getjaz.com", "tags": [{"description": "Manage invoices — create, update, search, void, and record payments", "name": "Invoices"}, {"description": "Manage scheduled/recurring invoices", "name": "Scheduled Invoices"}, {"description": "Manage sales subscriptions (scheduled subscriptions)", "name": "Sales Subscriptions"}, {"description": "Manage bills — create, update, search, void, and record payments", "name": "Bills"}, {"description": "Manage scheduled/recurring bills", "name": "Scheduled Bills"}, {"description": "Manage payment records across invoices and bills", "name": "Payments"}, {"description": "Manage customer credit notes and refunds", "name": "Customer Credit"}, {"description": "Manage supplier credit notes and refunds", "name": "Supplier Credit"}, {"description": "Manage journals — cash-in, cash-out, cash-transfer, and general journals", "name": "Journals"}, {"description": "Manage scheduled/recurring journals", "name": "Scheduled Journals"}, {"description": "Manage contacts (customers and suppliers)", "name": "Contacts"}, {"description": "Manage contact groups", "name": "Contact Group"}, {"description": "View and manage cashflow transactions", "name": "Cashflow Transactions"}, {"description": "Manage chart of accounts", "name": "Chart of Accounts"}, {"description": "Manage bank records and statement imports", "name": "Bank Records"}, {"description": "Manage bank accounts", "name": "Bank Accounts"}, {"description": "Manage bank rules for auto-categorization", "name": "Bank Rules"}, {"description": "Auto-reconciliation tools", "name": "Reconciliation"}, {"description": "Search the product/service catalog", "name": "Catalog"}, {"description": "Manage inventory items", "name": "Items"}, {"description": "Manage purchase items", "name": "Purchase Items"}, {"description": "Manage tax profiles and rates", "name": "Tax Profiles"}, {"description": "List available tax types", "name": "Tax Types"}, {"description": "Manage withholding tax codes", "name": "Withholding Tax Codes"}, {"description": "Manage account classifications", "name": "Account Classifications"}, {"description": "Manage capsules (grouping of transactions)", "name": "Capsules"}, {"description": "Manage custom fields for entities", "name": "Custom Fields"}, {"description": "Manage tags for entities", "name": "Tags"}, {"description": "Manage nano classifiers for line items", "name": "Nano Classifiers"}, {"description": "Manage organization settings", "name": "Organization"}, {"description": "Manage organization users and invitations", "name": "Organization Users"}, {"description": "Manage organization currencies and exchange rates", "name": "Organization Currencies"}, {"description": "Manage feature modules", "name": "Modules"}, {"description": "Manage bookmarks for quick access", "name": "Bookmarks"}, {"description": "Manage fixed assets and depreciation", "name": "Fixed Assets"}, {"description": "Export statement of account reports", "name": "Statement of Account"}, {"description": "Universal search across all entities", "name": "Search"}, {"description": "Manage search shortcuts", "name": "Search Shortcut"}, {"description": "Export financial reports and data", "name": "Data Exports"}, {"description": "Generate financial reports (P&L, Balance Sheet, etc.)", "name": "Generate Reports"}, {"description": "Manage report templates", "name": "Organization Report Templates"}, {"description": "Internal AI-powered endpoints (hidden)", "name": "Magic"}], "schemes": ["https"], "securityDefinitions": {"ApiKeyAuth": {"in": "header", "name": "x-jk-api-key", "type": "apiKey"}}, "paths": {"/api/v1/invoices": {"post": {"consumes": ["application/json"], "description": "Create an Accounting Invoice", "operationId": "create-invoice", "parameters": [{"description": "Create invoice payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateInvoiceClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Invoice", "tags": ["Invoices"]}, "get": {"consumes": ["application/json"], "description": "Retrieve Accounting Invoices", "operationId": "list-invoices", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"default": 0, "description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}, {"description": "Search query", "in": "query", "name": "query", "type": "string"}, {"description": "Field to search by", "in": "query", "name": "queryBy", "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Invoices", "tags": ["Invoices"]}}, "/api/v1/invoices/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update an Invoice", "operationId": "update-invoice", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update invoice payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateInvoiceClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Invoice", "tags": ["Invoices"]}, "get": {"consumes": ["application/json"], "description": "Get an Accounting Invoice", "operationId": "get-invoice", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Invoice", "tags": ["Invoices"]}, "delete": {"consumes": ["application/json"], "description": "Void or Delete an Invoice", "operationId": "delete-invoice", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "When true, void and delete the invoice", "in": "query", "name": "force", "type": "boolean"}, {"description": "Internal notes for void", "in": "query", "name": "internalNotes", "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Void/Delete Invoice", "tags": ["Invoices"]}}, "/api/v1/invoices/search": {"post": {"consumes": ["application/json"], "description": "Retrieve Accounting Invoices", "operationId": "search-invoice", "parameters": [{"description": "Search invoices payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/SearchInvoiceRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Search Invoices", "tags": ["Invoices"]}}, "/api/v1/invoices/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads attachment and attaches to an Invoice", "operationId": "create-invoice-attachment", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Invoice", "tags": ["Invoices"]}, "get": {"consumes": ["application/json"], "description": "List all the attachments from an Invoice", "operationId": "list-invoice-attachments", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Invoice Attachments", "tags": ["Invoices"]}}, "/api/v1/invoices/{resourceId}/credits": {"post": {"consumes": ["application/json"], "description": "Apply Credits to Invoice", "operationId": "create-invoice-credit", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Apply credits payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/InvoiceCreditNotesRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Apply Customer Credits", "tags": ["Invoices"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the list of Invoice Credits", "operationId": "list-invoice-credits", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Applied Customer Credits", "tags": ["Invoices"]}}, "/api/v1/invoices/{resourceId}/payments": {"post": {"consumes": ["application/json"], "description": "Create an Invoice Record Payment", "operationId": "create-invoice-payment", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Record payment payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateInvoiceRecordPaymentClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Invoice Payments", "tags": ["Invoices"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the list of Invoice Record Payments", "operationId": "list-invoice-payments", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Invoice Payments", "tags": ["Invoices"]}}, "/api/v1/invoices/{resourceId}/download": {"get": {"consumes": ["application/json"], "description": "Returns a PDF of the invoice", "operationId": "download-invoice", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Download Invoice", "tags": ["Invoices"]}}, "/api/v1/invoices/{resourceId}/attachments/{attachmentResourceId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from an Invoice", "operationId": "delete-invoice-attachment", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment Resource ID", "in": "path", "name": "attachmentResourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Invoice Attachment", "tags": ["Invoices"]}}, "/api/v1/invoices/{resourceId}/credits/{creditsAppliedResourceId}": {"delete": {"consumes": ["application/json"], "description": "Remove an Applied Credit to Invoice", "operationId": "delete-invoice-credit", "parameters": [{"description": "Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Credits Applied Resource ID", "in": "path", "name": "creditsAppliedResourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Applied Customer Credits", "tags": ["Invoices"]}}, "/api/v1/scheduled/invoices": {"post": {"consumes": ["application/json"], "description": "Create Scheduled invoices", "operationId": "create-scheduled-invoice", "parameters": [{"description": "Request payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateScheduledInvoiceClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Scheduled Invoice", "tags": ["Scheduled Invoices"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the list of scheduled invoices", "operationId": "list-scheduled-invoices", "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Scheduled Invoices", "tags": ["Scheduled Invoices"]}}, "/api/v1/scheduled/invoices/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update the scheduled invoice", "operationId": "update-scheduled-invoice", "parameters": [{"description": "Scheduled Invoice Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Request payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateScheduledInvoiceClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Scheduled Invoice", "tags": ["Scheduled Invoices"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the scheduled invoice", "operationId": "get-scheduled-invoice", "parameters": [{"description": "Scheduled Invoice Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Scheduled Invoice", "tags": ["Scheduled Invoices"]}, "delete": {"consumes": ["application/json"], "description": "Remove the scheduled invoice", "operationId": "delete-scheduled-invoice", "parameters": [{"description": "Scheduled Invoice Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Delete Scheduled Invoice", "tags": ["Scheduled Invoices"]}}, "/api/v1/scheduled-transaction/search": {"post": {"consumes": ["application/json"], "description": "Retrieve Accounting Schedule Transaction", "operationId": "search-scheduled-transaction", "parameters": [{"description": "Search filters", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/SearchScheduledRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PageableResponse"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Search Scheduler Transaction", "tags": ["Scheduled Invoices"]}}, "/api/v1/scheduled/invoices/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads and attaches a file to a Scheduled Invoice", "operationId": "create-scheduled-invoice-attachment", "parameters": [{"description": "Scheduled Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "422": {"description": "Unprocessable Entity", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Scheduler Invoice", "tags": ["Scheduled Invoices"]}, "get": {"consumes": ["application/json"], "description": "Retrieves all attachments across all scheduled Invoice with pagination", "operationId": "list-scheduled-invoice-attachments", "parameters": [{"description": "Scheduled Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Limit", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Scheduler Invoice Attachments", "tags": ["Scheduled Invoices"]}}, "/api/v1/scheduled/invoices/{resourceId}/attachments/{fileId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from a Scheduled Invoice by fileId", "operationId": "delete-scheduled-invoice-attachment", "parameters": [{"description": "Scheduled Invoice Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment File ID (MD5 hash)", "in": "path", "name": "fileId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Scheduler Invoice Attachment", "tags": ["Scheduled Invoices"]}}, "/api/v1/scheduled/subscriptions": {"post": {"consumes": ["application/json"], "description": "Create Scheduled Subscriptions", "operationId": "create-scheduled-subscription", "parameters": [{"description": "Request payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateScheduledSubscriptionClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Sales Subscription", "tags": ["Sales Subscriptions"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the list of scheduled Subscription", "operationId": "list-scheduled-subscriptions", "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Sales Subscriptions", "tags": ["Sales Subscriptions"]}}, "/api/v1/scheduled/cancel-subscriptions/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Remove the scheduled Subscription", "operationId": "update-scheduled-cancel-subscription", "parameters": [{"description": "Scheduled Subscription Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Request payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CancelScheduledSubscriptionClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Cancel Sales Subscription", "tags": ["Sales Subscriptions"]}}, "/api/v1/scheduled/subscriptions/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update the scheduled Subscription", "operationId": "update-scheduled-subscription", "parameters": [{"description": "Scheduled Subscription Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Request payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateScheduledSubscriptionClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Sales Subscription", "tags": ["Sales Subscriptions"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the scheduled Subscription", "operationId": "get-scheduled-subscription", "parameters": [{"description": "Scheduled Subscription Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Sales Subscription", "tags": ["Sales Subscriptions"]}, "delete": {"consumes": ["application/json"], "description": "Remove the scheduled Subscription", "operationId": "delete-scheduled-subscription", "parameters": [{"description": "Scheduled Subscription Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Delete Sales Subscription", "tags": ["Sales Subscriptions"]}}, "/api/v1/scheduled/subscriptions/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads and attaches a file to a Scheduled Subscription", "operationId": "create-scheduled-subscription-attachment", "parameters": [{"description": "Scheduled Subscription Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "422": {"description": "Unprocessable Entity", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Scheduler Subscriptions", "tags": ["Sales Subscriptions"]}, "get": {"consumes": ["application/json"], "description": "Retrieves all attachments across all scheduled Subscription with pagination", "operationId": "list-scheduled-subscription-attachments", "parameters": [{"description": "Scheduled Subscription Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Limit", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Scheduler Subscription Attachments", "tags": ["Sales Subscriptions"]}}, "/api/v1/scheduled/subscriptions/{resourceId}/attachments/{fileId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from a Scheduled Subscription by fileId", "operationId": "delete-scheduled-subscription-attachment", "parameters": [{"description": "Scheduled Subscription Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment File ID (MD5 hash)", "in": "path", "name": "fileId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Scheduler Subscriptions Attachment", "tags": ["Sales Subscriptions"]}}, "/api/v1/bills": {"post": {"consumes": ["application/json"], "description": "Create an Accounting Bill", "operationId": "create-bill", "parameters": [{"description": "Create bill payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateBillClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Bill", "tags": ["Bills"]}, "get": {"consumes": ["application/json"], "description": "Get a list of Bills", "operationId": "list-bills", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}, {"description": "Search query", "in": "query", "name": "query", "type": "string"}, {"description": "Field to search by", "in": "query", "name": "queryBy", "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Bills", "tags": ["Bills"]}}, "/api/v1/bills/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update a Bill", "operationId": "update-bill", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update bill payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateBillClientRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Bill", "tags": ["Bills"]}, "get": {"consumes": ["application/json"], "description": "Get a Bill", "operationId": "get-bill", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Bill", "tags": ["Bills"]}, "delete": {"consumes": ["application/json"], "description": "Void/Delete a Bill", "operationId": "delete-bill", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "When true, void and delete the bill", "in": "query", "name": "force", "type": "boolean"}, {"description": "Internal notes for void", "in": "query", "name": "internalNotes", "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Void/Delete Bill", "tags": ["Bills"]}}, "/api/v1/bills/search": {"post": {"consumes": ["application/json"], "description": "Retrieve Accounting Bills", "operationId": "search-bill", "parameters": [{"description": "Search bills payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/SearchBillRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Search Bills", "tags": ["Bills"]}}, "/api/v1/bills/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads attachment and attaches to an Bill", "operationId": "create-bill-attachment", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Bills", "tags": ["Bills"]}, "get": {"consumes": ["application/json"], "description": "Retrieve list of latest bill attachments", "operationId": "list-bill-attachments", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Bills Attachments", "tags": ["Bills"]}}, "/api/v1/bills/{resourceId}/credits": {"post": {"consumes": ["application/json"], "description": "Apply Credits to Bill", "operationId": "create-bill-credit", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Apply credits payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/BillSupplierNotesRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Apply Supplier Credits", "tags": ["Bills"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the list of Bill Credits", "operationId": "list-bill-credits", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Applied Supplier Credits", "tags": ["Bills"]}}, "/api/v1/bills/{resourceId}/payments": {"post": {"consumes": ["application/json"], "description": "Create an Bill Record Payment", "operationId": "create-bill-payment", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Record payment payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateBillRecordPaymentClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Bill Payments", "tags": ["Bills"]}, "get": {"consumes": ["application/json"], "description": "List Bill Record Payments", "operationId": "list-bill-payments", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Bill Payments", "tags": ["Bills"]}}, "/api/v1/bills/{resourceId}/attachments/{attachmentResourceId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from an Bill", "operationId": "delete-bill-attachment", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment Resource ID", "in": "path", "name": "attachmentResourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Bill Attachment", "tags": ["Bills"]}}, "/api/v1/bills/{resourceId}/credits/{creditsAppliedResourceId}": {"delete": {"consumes": ["application/json"], "description": "Remove an Applied Credit to Bill", "operationId": "delete-bill-credit", "parameters": [{"description": "Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Credits Applied Resource ID", "in": "path", "name": "creditsAppliedResourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Applied Supplier Credit", "tags": ["Bills"]}}, "/api/v1/scheduled/bills": {"post": {"consumes": ["application/json"], "description": "Create Scheduled Bill", "operationId": "create-scheduled-bill", "parameters": [{"description": "Request payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateScheduledBillClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Scheduled Bill", "tags": ["Scheduled Bills"]}, "get": {"consumes": ["application/json"], "description": "List Scheduled Bills", "operationId": "list-scheduled-bills", "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Scheduled Bills", "tags": ["Scheduled Bills"]}}, "/api/v1/scheduled/bills/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Updates a Scheduled Bill", "operationId": "update-scheduled-bill", "parameters": [{"description": "Scheduled Bill Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Request payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateScheduledBillClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Scheduled Bills", "tags": ["Scheduled Bills"]}, "get": {"consumes": ["application/json"], "description": "Retrieve a Scheduled Bill", "operationId": "get-scheduled-bill", "parameters": [{"description": "Scheduled Bill Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Scheduled Bill", "tags": ["Scheduled Bills"]}, "delete": {"consumes": ["application/json"], "description": "Remove a Scheduled Bill", "operationId": "delete-scheduled-bill", "parameters": [{"description": "Scheduled Bill Resource ID (UUIDv4)", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Delete Scheduled Bill", "tags": ["Scheduled Bills"]}}, "/api/v1/scheduled/bills/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads and attaches a file to a Scheduled Bill", "operationId": "create-scheduled-bill-attachment", "parameters": [{"description": "Scheduled Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "422": {"description": "Unprocessable Entity", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Scheduler Bills", "tags": ["Scheduled Bills"]}, "get": {"consumes": ["application/json"], "description": "Retrieves all attachments across all scheduled bills with pagination", "operationId": "list-scheduled-bill-attachments", "parameters": [{"description": "Scheduled Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Limit", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Scheduler Bills Attachments", "tags": ["Scheduled Bills"]}}, "/api/v1/scheduled/bills/{resourceId}/attachments/{fileId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from a Scheduled Bill by fileId", "operationId": "delete-scheduled-bill-attachment", "parameters": [{"description": "Scheduled Bill Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment File ID (MD5 hash)", "in": "path", "name": "fileId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Scheduler Bills Attachment", "tags": ["Scheduled Bills"]}}, "/api/v1/payments/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update a Record Payment", "operationId": "update-payment", "parameters": [{"description": "Payment Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update payment payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateRecordPaymentClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Payment", "tags": ["Payments"]}, "get": {"consumes": ["application/json"], "description": "Retrieve a Record Payment", "operationId": "get-payment", "parameters": [{"description": "Payment Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Payment", "tags": ["Payments"]}, "delete": {"consumes": ["application/json"], "description": "Delete a Record Payment", "operationId": "delete-payment", "parameters": [{"description": "Payment Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Delete Payment", "tags": ["Payments"]}}, "/api/v1/customer-credit-notes": {"post": {"consumes": ["application/json"], "description": "Create Customer Credit Notes", "operationId": "create-customer-credit-note", "parameters": [{"description": "Create customer credit note payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateCustomerCreditClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Customer Credit Notes", "tags": ["Customer Credit"]}, "get": {"consumes": ["application/json"], "description": "List Customer Credit Notes", "operationId": "list-customer-credit-notes", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}, {"description": "Search query", "in": "query", "name": "query", "type": "string"}, {"description": "Field to search by", "in": "query", "name": "queryBy", "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Customer Credit Notes", "tags": ["Customer Credit"]}}, "/api/v1/customer-credit-notes/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update Customer Credit Notes", "operationId": "update-customer-credit-note", "parameters": [{"description": "Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update customer credit note payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateCustomerCreditClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Customer Credit Notes", "tags": ["Customer Credit"]}, "get": {"consumes": ["application/json"], "description": "Get Customer Credit Note", "operationId": "get-customer-credit-note", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Customer Credit Note", "tags": ["Customer Credit"]}, "delete": {"consumes": ["application/json"], "description": "Void/Delete Customer Credit Note", "operationId": "delete-customer-credit-note", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "When true, void and delete the credit note", "in": "query", "name": "force", "type": "boolean"}, {"description": "Internal notes for void", "in": "query", "name": "internalNotes", "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Void/Delete Customer Credit Note", "tags": ["Customer Credit"]}}, "/api/v1/customer-credit-notes/search": {"post": {"consumes": ["application/json"], "description": "Search Customer Credit", "operationId": "search-customer-credit-note", "parameters": [{"description": "Search customer credit notes payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/SearchCustomerCreditNoteRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Search Customer Credit", "tags": ["Customer Credit"]}}, "/api/v1/customer-credit-notes/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads attachment and attaches to a Customer Credit Note", "operationId": "create-customer-credit-note-attachment", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Customer Credit Note", "tags": ["Customer Credit"]}, "get": {"consumes": ["application/json"], "description": "List all the attachments from a Customer Credit Note", "operationId": "list-customer-credit-note-attachments", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Customer Credit Note Attachments", "tags": ["Customer Credit"]}}, "/api/v1/customer-credit-notes/{resourceId}/refunds": {"post": {"consumes": ["application/json"], "description": "Add Customer Credit Refunds", "operationId": "create-customer-credit-note-refund", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Create credit note refunds payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateCustomerCreditRecordRefundClientRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Customer Credit Refunds", "tags": ["Customer Credit"]}, "get": {"consumes": ["application/json"], "description": "List Customer Credit Refunds", "operationId": "list-customer-credit-note-refunds", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Customer Credit Refunds", "tags": ["Customer Credit"]}}, "/api/v1/customer-credit-notes/{resourceId}/download": {"get": {"consumes": ["application/json"], "description": "Download Customer Credit Note", "operationId": "download-customer-credit-note", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Download Customer Credit Note", "tags": ["Customer Credit"]}}, "/api/v1/customer-credit-notes/{resourceId}/attachments/{attachmentResourceId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from a Customer Credit Note", "operationId": "delete-customer-credit-note-attachment", "parameters": [{"description": "Customer Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment Resource ID", "in": "path", "name": "attachmentResourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Customer Credit Note Attachment", "tags": ["Customer Credit"]}}, "/api/v1/supplier-credit-notes": {"post": {"consumes": ["application/json"], "description": "Create Supplier Credit Notes", "operationId": "create-supplier-credit-note", "parameters": [{"description": "Create supplier credit note payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateSupplierCreditClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Supplier Credit", "tags": ["Supplier Credit"]}, "get": {"consumes": ["application/json"], "description": "List Supplier Credit Notes", "operationId": "list-supplier-credit-notes", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}, {"description": "Search query", "in": "query", "name": "query", "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Supplier Credit Notes", "tags": ["Supplier Credit"]}}, "/api/v1/supplier-credit-notes/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update a SupplierCreditNotes", "operationId": "update-supplier-credit-note", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update supplier credit note payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateSupplierCreditClientRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Supplier Credit", "tags": ["Supplier Credit"]}, "get": {"consumes": ["application/json"], "description": "Get a Supplier Credit Note", "operationId": "get-supplier-credit-note", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Supplier Credit Notes", "tags": ["Supplier Credit"]}, "delete": {"consumes": ["application/json"], "description": "Remove a Supplier Credit Note", "operationId": "delete-supplier-credit-note", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "When true, void and delete the credit note", "in": "query", "name": "force", "type": "boolean"}, {"description": "Internal notes for void", "in": "query", "name": "internalNotes", "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Void/Delete Supplier Credit Note", "tags": ["Supplier Credit"]}}, "/api/v1/supplier-credit-notes/search": {"post": {"consumes": ["application/json"], "description": "Retrieve Accounting SupplierCreditNote", "operationId": "search-supplier-credit-note", "parameters": [{"description": "Search supplier credit note payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/SearchSupplierCreditNoteRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Search Supplier Credit", "tags": ["Supplier Credit"]}}, "/api/v1/supplier-credit-notes/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads attachment and attaches to a Supplier Credit Note", "operationId": "create-supplier-credit-note-attachment", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Supplier Credit Note", "tags": ["Supplier Credit"]}, "get": {"consumes": ["application/json"], "description": "List all the attachments from a Supplier Credit Note", "operationId": "list-supplier-credit-note-attachments", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Supplier Credit Note Attachments", "tags": ["Supplier Credit"]}}, "/api/v1/supplier-credit-notes/{resourceId}/refunds": {"post": {"consumes": ["application/json"], "description": "Create Supplier Credit Record Refunds", "operationId": "create-supplier-credit-note-refund", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Create refund payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateSupplierCreditRecordRefundClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Supplier Credit Refunds", "tags": ["Supplier Credit"]}, "get": {"consumes": ["application/json"], "description": "List Supplier Credit Record Refunds", "operationId": "list-supplier-credit-note-refunds", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Supplier Credit Refunds", "tags": ["Supplier Credit"]}}, "/api/v1/supplier-credit-notes/{resourceId}/attachments/{attachmentResourceId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from a Supplier Credit Note", "operationId": "delete-supplier-credit-note-attachment", "parameters": [{"description": "Supplier Credit Note Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment Resource ID", "in": "path", "name": "attachmentResourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Supplier Credit Note Attachment", "tags": ["Supplier Credit"]}}, "/api/v1/cash-in-journals": {"post": {"consumes": ["application/json"], "description": "Create Cash In Entry Journal", "operationId": "create-cash-in-journal", "parameters": [{"description": "Create cash in entry payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateCashflowJournalRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Direct Cash-In", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve List of Direct Cash-In", "operationId": "list-cash-in-journals", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Direct Cash-In", "tags": ["Journals"]}}, "/api/v1/cash-out-journals": {"post": {"consumes": ["application/json"], "description": "Create Cash Out Entry Journal", "operationId": "create-cash-out-journal", "parameters": [{"description": "Create cash out entry payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateCashflowJournalRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Direct Cash-Out", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve Direct Cash-Out", "operationId": "list-cash-out-journals", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Direct Cash-Out", "tags": ["Journals"]}}, "/api/v1/cash-transfer-journals": {"post": {"consumes": ["application/json"], "description": "Create Journal", "operationId": "create-cash-transfer-journal", "parameters": [{"description": "Create cash transfer journal payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateCashTransferJournalRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Cash Transfer", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve a list of Direct Cash-Transfers", "operationId": "list-cash-transfer-journals", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Cash Transfer Journals", "tags": ["Journals"]}}, "/api/v1/journals": {"post": {"consumes": ["application/json"], "description": "Create Journal", "operationId": "create-journal", "parameters": [{"description": "Create journal payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateJournalClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Journal", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the list of Journals", "operationId": "list-journals", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"default": 0, "description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Journals", "tags": ["Journals"]}}, "/api/v1/cash-in-journals/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update Cash In Entry Journal", "operationId": "update-cash-in-journal", "parameters": [{"description": "Cash In Entry Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update cash in entry payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/EditCashflowJournalRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Direct Cash-In", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve Direct Cash-In", "operationId": "get-cash-in-journal", "parameters": [{"description": "Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Direct Cash-In", "tags": ["Journals"]}}, "/api/v1/cash-out-journals/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update Cash Out Entry Journal", "operationId": "update-cash-out-journal", "parameters": [{"description": "Cash Out Entry Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update cash out entry payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/EditCashflowJournalRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Direct Cash-Out", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve Direct Cash-Out", "operationId": "get-cash-out-journal", "parameters": [{"description": "Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Direct Cash-Out", "tags": ["Journals"]}}, "/api/v1/journals/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update a Journal", "operationId": "update-journal", "parameters": [{"description": "Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update journal payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateJournalClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Journal", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve a Journal", "operationId": "get-journal", "parameters": [{"description": "Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Journal", "tags": ["Journals"]}, "delete": {"consumes": ["application/json"], "description": "Remove a Journal", "operationId": "delete-journal", "parameters": [{"description": "Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "When true, void and delete the journal", "in": "query", "name": "force", "type": "boolean"}, {"description": "Internal notes for void", "in": "query", "name": "internalNotes", "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Void/Delete Journal", "tags": ["Journals"]}}, "/api/v1/cash-transfer-journals/{resourceId}": {"get": {"consumes": ["application/json"], "description": "Retrieve Direct Cash-Transfers", "operationId": "get-cash-transfer-journal", "parameters": [{"description": "Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Cash Transfer Journal", "tags": ["Journals"]}}, "/api/v1/journals/search": {"post": {"consumes": ["application/json"], "description": "Retrieve Accounting Journals", "operationId": "search-journal", "parameters": [{"description": "Search journals payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/SearchJournalsRequest"}}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Search Journals", "tags": ["Journals"]}}, "/api/v1/cashflow-journals/{resourceId}": {"delete": {"consumes": ["application/json"], "description": "Remove a Cashflow Journal", "operationId": "delete-cashflow-journal", "parameters": [{"description": "Cashflow Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Delete Cashflow Journal", "tags": ["Journals"]}}, "/api/v1/journals/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads attachment and attaches to an Journal", "operationId": "create-journal-attachment", "parameters": [{"description": "Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment file to upload (supported: PDF, PNG, JPEG, HEIC, XLS, XLSX, EML). Max 10 MB.", "in": "formData", "name": "file", "required": true, "type": "file"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Add Attachment to Journals", "tags": ["Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve list of latest Journal attachments", "operationId": "list-journal-attachments", "parameters": [{"description": "Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Journals Attachments", "tags": ["Journals"]}}, "/api/v1/journals/{resourceId}/attachments/{attachmentResourceId}": {"delete": {"consumes": ["application/json"], "description": "Removes an attachment from an Journal", "operationId": "delete-journal-attachment", "parameters": [{"description": "Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Attachment Resource ID", "in": "path", "name": "attachmentResourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Remove Journals Attachment", "tags": ["Journals"]}}, "/api/v1/scheduled/journals": {"post": {"consumes": ["application/json"], "description": "Create Scheduled Journal", "operationId": "create-scheduled-journal", "parameters": [{"description": "Create scheduled journal payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/CreateScheuledJournalClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Create Scheduled Journal", "tags": ["Scheduled Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve the list of scheduled journals", "operationId": "list-scheduled-journals", "parameters": [{"default": 100, "description": "Limit results", "in": "query", "name": "limit", "type": "integer"}, {"description": "Page number offset (0-indexed)", "in": "query", "name": "offset", "type": "integer"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "List Scheduled Journals", "tags": ["Scheduled Journals"]}}, "/api/v1/scheduled/journals/{resourceId}": {"put": {"consumes": ["application/json"], "description": "Update Scheduled Journal", "operationId": "update-scheduled-journal", "parameters": [{"description": "Scheduled Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}, {"description": "Update scheduled journal payload", "in": "body", "name": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateScheuledJournalClientRequest"}}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Update Scheduled Journal", "tags": ["Scheduled Journals"]}, "get": {"consumes": ["application/json"], "description": "Retrieve a scheduled journal", "operationId": "get-scheduled-journal", "parameters": [{"description": "Scheduled Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Get Scheduled Journal", "tags": ["Scheduled Journals"]}, "delete": {"consumes": ["application/json"], "description": "Remove a scheduled journal", "operationId": "delete-scheduled-journal", "parameters": [{"description": "Scheduled Journal Resource ID", "in": "path", "name": "resourceId", "required": true, "type": "string"}], "produces": ["application/json"], "responses": {"201": {"description": "Created", "schema": {"$ref": "#/definitions/BaseResponse_2"}}, "400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/ErrorResponse"}}, "500": {"description": "Internal Server Error", "schema": {"$ref": "#/definitions/ErrorResponse"}}}, "security": [{"ApiKeyAuth": []}], "summary": "Delete Scheduled Journal", "tags": ["Scheduled Journals"]}}, "/api/v1/scheduled/journals/{resourceId}/attachments": {"post": {"consumes": ["multipart/form-data"], "description": "Uploads attachment and attaches to a Journal Scheduler", "operationId": "create-scheduled-journal-attachment
[...]
